acervo-biblioteca-esb/datasources/Polo3.wsdl

<?xml version="1.0" ?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mio="http://demo0516930.mockable.io/service/1" targetNamespace="http://demo0516930.mockable.io/service/1">

  <wsdl:documentation>
        mockable.io generated WSDL
    </wsdl:documentation>

  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://demo0516930.mockable.io/service/1">

      <xsd:element name="GetObrasRequest" type="xsd:anyType" />
      <xsd:element name="GetObrasResponse" type="xsd:anyType" />

    </xsd:schema>
  </wsdl:types>


  <wsdl:message name="GetObrasInputMessage">
    <wsdl:part name="GetObrasInputPart" element="mio:GetObrasRequest" />
  </wsdl:message>
  <wsdl:message name="GetObrasOutputMessage">
    <wsdl:part name="GetObrasOutputPart" element="mio:GetObrasResponse" />
  </wsdl:message>


  <wsdl:portType name="PortType">

    <wsdl:operation name="GetObras">
      <wsdl:input name="GetObrasInput" message="mio:GetObrasInputMessage" />
      <wsdl:output name="GetObrasOutput" message="mio:GetObrasOutputMessage" />
    </wsdl:operation>

  </wsdl:portType>

  <wsdl:binding name="Binding" type="mio:PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />

    <wsdl:operation name="GetObras">
      <soap:operation soapAction="GetObras" />
      <wsdl:input name="GetObrasInput">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetObrasOutput">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

  </wsdl:binding>

  <wsdl:service name="Service">
    <wsdl:port name="Port" binding="mio:Binding">
      <soap:address location="http://demo0516930.mockable.io/" />
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>